<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Michael D. Bond Homepage</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			.body {
 				margin: 0;
  				font-family: Arial, Helvetica, sans-serif;
			}
			.topnav {
  				overflow: hidden;
  				background-color: #333;
				font-family: Arial, Helvetica, sans-serif;
			}
			.topnav a {
  				float: left;
  				color: #f2f2f2;
  				text-align: center;
  				padding: 15px 50px;
  				text-decoration: none;
  				font-size: 20px;
			}
			.topnav a:hover {
  				background-color: #ddd;
  				color: black;
			}
			.topnav a.active {
  				background-color: red;
  				color: white;
			}
			.font {
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
			}
		</style>
	</head>
	<body>
		<div class="topnav">
  			<a class="active" href="/home.html">Home</a>
  			<a href="/news.html">News</a>
  			<a href="/research.html">Research</a>
  			<a href="/teaching.html">Teaching</a>
			<a href="/misc.html">Miscellaneous</a>
		</div>
		<div class="font">
  			<h1>Michael D. Bond</h1>
		</div>
		<hr></hr>
		<p><img style="padding: 0 45px; float: left;" src="http://web.cse.ohio-state.edu/~bond.213/assist.jpeg" alt="Michael_D._Bond.jpeg" width=300></p>
		<p style="margin-top: 20px;"> </p>
		<ul style="padding: 0 15px;">
			<p><li><strong>Associate Professor, Computer Science &amp; Engineering</strong></li></p>
			<p><li><strong>Ohio State University</strong></li></p>
			<p><li><a href="mailto:mikebond@cse.ohio-state.edu"><strong>mikebond@cse.ohio-state.edu</strong></a></li></p>
			<p><li><strong>697 Dreese Labs</strong></li></p>
			<p><li><strong>Areas of Interest: Programming Languages, Software and Hardware Systems, Program Analysis, Compilers, Security</strong></li></p>
		</ul>
	</body>
</html>
