<!DOCTYPE html>
<html lang="en">
	<head>
    <title>News</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			.body {
 				margin: 0;
  				font-family: Arial, Helvetica, sans-serif;
			}
			.topnav {
  				overflow: hidden;
  				background-color: #333;
				font-family: Arial, Helvetica, sans-serif;
			}
			.topnav a {
  				float: left;
  				color: #f2f2f2;
  				text-align: center;
  				padding: 15px 50px;
  				text-decoration: none;
  				font-size: 20px;
			}
			.topnav a:hover {
  				background-color: #ddd;
  				color: black;
			}
			.topnav a.active {
  				background-color: red;
  				color: white;
			}
			.font {
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
			}
			table {
    				font-family: Arial, Helvetica, sans-serif;
    				border-collapse: collapse;
    				width: 100%;
			}
			td, th {
    				border: 1px solid #dddddd;
    				text-align: left;
    				padding: 8px;
			}

			tr:nth-child(even) {
    				background-color: #dddddd;
			}
		</style>
	</head>
	<body style="background-color:#e5e7e9;">
		<div class="topnav">
  			<a href="/home">Home</a>
  			<a class="active" href="#news">News</a>
  			<a href="/research">Research</a>
  			<a href="/teaching">Teaching</a>
			<a href="/misc">Misc</a>
		</div>
		<img src="https://cse.osu.edu/sites/cse.osu.edu/files/custom/cse-title.png" width=70%>
		<div class="font">
			<h1>News</h1>
		</div>
		<table>
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Link</th>
			</tr>
			<tr>
				<td>High-Coverage, Unbounded Sound Predictive Race Detection</td>
				<td>June 2018</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#vindicator">Link</a></td>
			</tr>
			<tr>
				<td>Instrumentation Bias for Dynamic Data Race Detection</td>
				<td>October 2017</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#fib">Link</a></td>
			</tr>
			<tr>
				<td>Hybridizing and Relaxing Dependence Tracking for Efficient Parallel Runtime Support</td>
				<td>August 2017</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-relaxed-tracking-topc">Link</a></td>
			</tr>
			<tr>
				<td>Avoiding Consistency Exceptions Under Strong Memory Models</td>
				<td>June 2017</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#avalon">Link</a></td>
			</tr>
			<tr>
				<td>Legato: End-to-End Bounded Region Serializability Using Commodity Hardware Transactional Memory</td>
				<td>February 2017</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#legato">Link</a></td>
			</tr>
			<tr>
				<td>Lightweight Data Race Detection for Production Runs</td>
				<td>February 2017</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#racechaser-caper">Link</a></td>
			</tr>
			<tr>
				<td>2016 ACM Student Research Competition Winners Announced</td>
				<td>June 2016</td>
				<td><a href="https://www.acm.org/media-center/2016/june/src-2016-grand-finals">Link</a></td>
			</tr>
			<tr>
				<td>Prescient Memory: Exposing Weak Memory Model Behavior by Looking into the Future</td>
				<td>June 2016</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#prescient-memory">Link</a></td>
			</tr>
			<tr>
				<td>Relaxed Dependence Tracking for Parallel Runtime Support</td>
				<td>March 2016</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#relaxed-tracking">Link</a></td>
			</tr>
			<tr>
				<td>Drinking from Both Glasses: Combining Pessimistic and Optimistic Tracking of Cross-Thread Dependences</td>
				<td>March 2016</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-tracking">Link</a></td>
			</tr>
			<tr>
				<td>Valor: Efficient, Software-Only Region Conflict Exceptions (OOPSLA 2015 Distinguished Paper Award)</td>
				<td>October 2015</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
			</tr>
			<tr>
				<td>Valor: Efficient, Software-Only Region Conflict Exceptions (OOPSLA 2015 Distinguished Artifact Award)</td>
				<td>October 2015</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
			</tr>
			<tr>
				<td>Efficient Deterministic Replay of Multithreaded Programs Based on Efficient Tracking of Cross-Thread Dependences</td>
				<td>September 2015</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
			</tr>
			<tr>
				<td>Toward Efficient Strong Memory Model Support for the Java Platform via Hybrid Synchronization</td>
				<td>September 2015</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
			</tr>
			<tr>
				<td>Hybrid Static–Dynamic Analysis for Statically Bounded Region Serializability</td>
				<td>March 2015</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
			</tr>
			<tr>
				<td>Low-Overhead Software Transactional Memory with Progress Guarantees and Strong Semantics</td>
				<td>February 2015</td>
				<td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
			</tr>
		</table>
	</body>
</html>
