---
title: News
---

<h1 class="center-text">News</h1>

<table id="news-table">
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Link</th>
    </tr>
    <tr>
        <td>High-Coverage, Unbounded Sound Predictive Race Detection</td>
        <td>June 2018</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#vindicator">Link</a></td>
    </tr>
    <tr>
        <td>Instrumentation Bias for Dynamic Data Race Detection</td>
        <td>October 2017</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#fib">Link</a></td>
    </tr>
    <tr>
        <td>Hybridizing and Relaxing Dependence Tracking for Efficient Parallel Runtime Support</td>
        <td>August 2017</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-relaxed-tracking-topc">Link</a></td>
    </tr>
    <tr>
        <td>Avoiding Consistency Exceptions Under Strong Memory Models</td>
        <td>June 2017</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#avalon">Link</a></td>
    </tr>
    <tr>
        <td>Legato: End-to-End Bounded Region Serializability Using Commodity Hardware Transactional Memory</td>
        <td>February 2017</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#legato">Link</a></td>
    </tr>
    <tr>
        <td>Lightweight Data Race Detection for Production Runs</td>
        <td>February 2017</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#racechaser-caper">Link</a></td>
    </tr>
    <tr>
        <td>2016 ACM Student Research Competition Winners Announced</td>
        <td>June 2016</td>
        <td><a target="_blank" href="https://www.acm.org/media-center/2016/june/src-2016-grand-finals">Link</a></td>
    </tr>
    <tr>
        <td>Prescient Memory: Exposing Weak Memory Model Behavior by Looking into the Future</td>
        <td>June 2016</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#prescient-memory">Link</a></td>
    </tr>
    <tr>
        <td>Relaxed Dependence Tracking for Parallel Runtime Support</td>
        <td>March 2016</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#relaxed-tracking">Link</a></td>
    </tr>
    <tr>
        <td>Drinking from Both Glasses: Combining Pessimistic and Optimistic Tracking of Cross-Thread Dependences</td>
        <td>March 2016</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-tracking">Link</a></td>
    </tr>
    <tr>
        <td>Valor: Efficient, Software-Only Region Conflict Exceptions (OOPSLA 2015 Distinguished Paper Award)</td>
        <td>October 2015</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
    </tr>
    <tr>
        <td>Valor: Efficient, Software-Only Region Conflict Exceptions (OOPSLA 2015 Distinguished Artifact Award)</td>
        <td>October 2015</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
    </tr>
    <tr>
        <td>Efficient Deterministic Replay of Multithreaded Programs Based on Efficient Tracking of Cross-Thread Dependences</td>
        <td>September 2015</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
    </tr>
    <tr>
        <td>Toward Efficient Strong Memory Model Support for the Java Platform via Hybrid Synchronization</td>
        <td>September 2015</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
    </tr>
    <tr>
        <td>Hybrid Static–Dynamic Analysis for Statically Bounded Region Serializability</td>
        <td>March 2015</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
    </tr>
    <tr>
        <td>Low-Overhead Software Transactional Memory with Progress Guarantees and Strong Semantics</td>
        <td>February 2015</td>
        <td><a target="_blank" href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Link</a></td>
    </tr>
</table>
